# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# Ignore files created by MacOS
.DS_Store

# Jekyll 构建生成目录
_site/

# 依赖缓存目录
/vendor/

# Ruby 包管理缓存
*.gem
Gemfile.lock

# 编辑器缓存文件（根据你的编辑器添加，如 VS Code）
.vs/
.vscode/
*.swp
*.swo